.ant-btn-link {
  color: #94B3FD;
}

.ant-tabs-tab {
  color: #94B3FD;
}
.ant-tabs-tab-active {
  color: #fff;
}

.warning-a:hover {
  color: red;
}

.ant-btn-background-ghost.ant-btn-primary {
  color: #94B3FD;
  border-color: #94B3FD;
  text-shadow: none;
}

.ant-spin {
  color: #94B3FD;
}

.lattice-a {
  color: #94B3FD;
}

.lattice-h1 {
  font-size: 26px;
}

.lattice-h4 {
  font-size: 16px;
}

.lattice-pairing-box {
  border-radius: 25px;
  letter-spacing: 20px;
  margin: '20px 0 0 0';
  text-align: center;
  background-color: #94B3FD;
  color: #141414;
}